body {
  background-color: white;
}

.segment {
  border: solid #fc03db 0.15rem;
  box-shadow: 0 0 0.15rem #fc03db;
  border-radius: 0.1rem;
  margin: 0.05rem;
  width: 5rem;
  font-size: 0.8rem;
  font-weight: 900;
  display: inline-block;
  height: 2rem;
  background-color: white;
}
.passed {
  background-color: #fc03db;
  color: white;
}

.clock {
  display: inline-block;
}

.clock-section {
  margin: 0.5rem;
  background-color: #c7f4ff;
  box-shadow: 0 0 0.3rem #00ccff;
}

.clock-section-name {
  margin: 0.2rem;
}

.btn-action {
  display: block;
}
