.passed {
	background-color: red;
	color: white;
}

.segment {
	border: solid black 0.2rem;
	border-radius: 0.5rem;
	margin: 0.2rem;
	width: 5rem;
	font-size: 1rem;
	font-weight: 900;
	display: block;
}

.hour1 {
	height: 3.5rem;
}

.hour3 {
	height: 6rem;
}
.clock {
	display: inline-block;
}
